{% extends 'base.html' %}
{% load static %}

{% block title %} Updatabox | Signup {% endblock %}

{% block content %}

<section class="signup">
  {% include 'includes/message.html' %}
    <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3 mt-5">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form action="/signup" method="POST" class="row g-3" id="signupForm">
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" name="name" class="form-control" id="name" placeholder="eg. Alex John" required>
                      <div class="invalid-feedback" id="nameReq"></div>
                    </div>

                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="email" placeholder="e.g. alex@example.com" required>
                      <div class="invalid-feedback" id="emailReq"></div>
                    </div>

                    <div class="col-12">
                      <label for="pass" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="pass" placeholder="********" required>
                      <div class="invalid-feedback" id="passReq"></div>
                    </div>
                    <div class="col-12">
                      <label for="passConf" class="form-label">Confirm Password</label>
                      <input type="password" name="password2" class="form-control" id="passConf" placeholder="********" required>
                      <div class="invalid-feedback" id="passCReq"></div>
                    </div>

                    <div class="col-12">
                      <button class="btn signup-btn w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="/login">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>


            </div>
          </div>

    </div>
  </section>
{% endblock %}

{% block script %}
<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}