{% extends 'base.html' %}
{% load static %}

{% block title %} Updatabox | Login {% endblock %}

{% block content %}
<section class="otpform">
  {% include 'includes/message.html' %}
    <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3 mt-5">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Verify your Email</h5>
                    <p class="text-center small">A email with a 6 digit verification code has been sent to xyz@xyz.com.</p>
                  </div>

                  <form action="/verify_email" method="POST" class="row g-3" id="otpForm">
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="email" class="form-label">Please enter the code below.</label>
                      <input type="text" name="otpcode" class="form-control" id="otpcode" placeholder="e.g. XXXXXX" required>
                      <div class="invalid-feedback" id="otpReq">
                      </div>
                    </div>

                    <div class="col-6">
                      <button class="btn otpform-btn w-100" type="submit">Verify</button>
                    </div>
                    <div class="col-6">
                      <a href="/signup" class="btn cancel-btn w-100" role="button">Cancel</a>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Didn't get the code? <a href="/resend_code">Resend code</a></p>
                    </div>
                  </form>

                </div>
            </div>

            </div>
          </div>

    </div>
  </section>
{% endblock %}

{% block script %}
<script src="{% static 'js/otpValidate.js' %}"></script>
{% endblock %}