
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Callback</title>
    <style>
        .text-center {
            margin: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="text-center">
        {% if status == "SUCCESS" %}
        <h2>THANKS YOUR PAYMENT HAS BEEN RECEIVED</h2>
        <h4>Redirecting you to Dashboard page</h4>
        {% else %}
        <h2>SORRY, YOUR PAYMENT HAS BEEN FAILED</h2>
        <h4>Redirecting you to plans page</h4>
        {% endif %}
    </div>
    <script>
        var status = "{{status}}";
    if (status == "SUCCESS") {
        setTimeout(function(){
            window.location.href = "/u/";
        }, 3000);
    }else{
        setTimeout(function(){
            window.location.href = "/u/plan";
        }, 3000);
    }
    </script>
</body>
</html>