{% extends 'user_base.html' %}
{% load static %}
{% block title %} Dashboard | Contact {% endblock %}

{% block main %}
<div class="pagetitle">
    <h1>Download</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/u">Home</a></li>
        <li class="breadcrumb-item"><a href="/u/files">Files</a></li>
        <li class="breadcrumb-item active">Download</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  {% include 'includes/message.html' %}
  <section class="section contact">

    <div class="row gy-4">
      <div class="col-lg-5">
        <div class="card p-4">
          <form action="/u/files/dec_download" method="post" class="contact-form">
            {% csrf_token %}
            <div class="row gy-4">
              <div class="col-md-12">
                <label for="exampleFormControlInput1" class="form-label">Enter Security Key for file : <strong>{{ filename }}</strong></label>
                <input type="password" id="nameId" class="form-control" name="seckey" placeholder="Security Key" required>
                <input type="hidden" name="filename" value="{{ filename }}">
              </div>

              <div class="col-md-12 text-center">
                <div class="d-flex justify-content-evenly align-items-center">
                <button type="submit" style="min-width: 35%;">Download</button>
                <a href="/u/files/download" class="btn btn-primary" role="button" style="min-width: 35%; line-height: 2; border: none;">Cancel</a>
              </div>
              </div>
              <div class="col-md-12 mt-1 text-center">
                <p>Forgot your secret key <a href="/u/files/forget-key/{{ filename }}">Click here</a></p>
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>

  </section>

  {% endblock %}

  {% block script %}

{% endblock %}